.mod-qrcode {
  position: absolute;
  left: 0px;
  right: 0px;
  width: 150px;
  height: 150px;
}
.mod-qrcode__link {
  width: 100%;
}
.mod-qrcode__img {
  width: 100%;
}
.mod-qrcode__text {
  font-size: 12px;
  font-family: "Microsoft Yahei";
  margin: 5px;
}
